[submodule "kitty/.config/kitty/catppuccin-theme"]
	path = kitty/.config/kitty/catppuccin-theme
	url = https://github.com/catppuccin/kitty
[submodule "kitty/.config/kitty/kitty-themes"]
	path = kitty/.config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes
[submodule "ranger/.config/ranger/plugins/ranger_devicons"]
	path = ranger/.config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "alacritty/.config/alacritty/catppuccin"]
	path = alacritty/.config/alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty
