[submodule "kitty/.config/kitty/catppuccin-theme"]
	path = kitty/.config/kitty/catppuccin-theme
	url = https://github.com/catppuccin/kitty
[submodule "kitty/.config/kitty/kitty-themes"]
	path = kitty/.config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes
[submodule "ranger/.config/ranger/plugins/ranger_devicons"]
	path = ranger/.config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/NvChad/NvChad/
[submodule "zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.oh-my-zsh/custom/plugins/zsh-history-substring-search"]
	path = zsh/.oh-my-zsh/custom/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh/.oh-my-zsh/custom/plugins/zsh-vi-mode"]
	path = zsh/.oh-my-zsh/custom/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
[submodule "zsh/.oh-my-zsh/custom/plugins/alias-tips"]
	path = zsh/.oh-my-zsh/custom/plugins/alias-tips
	url = https://github.com/djui/alias-tips
[submodule "zsh/.oh-my-zsh/custom/plugins/zsh-completions"]
	path = zsh/.oh-my-zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
