/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * color https://github.com/folke/tokyonight.nvim/blob/main/lua/tokyonight/colors.lua#L51
 * =========================================================================== */

* {
  border: none;
  border-radius: 0;
  font-family: FiraCode Nerd Font, Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: rgba(43, 48, 59, 0.5);
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
  color: white;
}

tooltip {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
tooltip label {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
}

#workspaces button {
  padding: 0;
  background: transparent;
  color: white;
  border-bottom: 3px solid transparent;
}

#workspaces button.focused {
  background: #64727d;
  border-bottom: 3px solid white;
}

#workspaces button.urgent {
  border-color: #ff966c;
}

#mode,
#clock,
#battery {
  padding: 0 10px;
  margin-left: 8px;
}

#mode {
  background: #64727d;
  border-bottom: 3px solid white;
}

#clock {
  background: #64727d;
}

#battery {
  background-color: #ffffff;
  color: black;
}

#battery.charging {
  color: white;
  background-color: #41a6b5;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  background: #ff757f;
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

widget label,
widget image {
  padding: 0 8px;
}

/* @import "/usr/share/sway/templates/waybar/style.css"; */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
  70% {
    color: @wm_icon_bg;
  }

  to {
    color: @wm_icon_bg;
    background-color: @warning_color;
  }
}

@keyframes blink-critical {
  70% {
    color: @wm_icon_bg;
  }

  to {
    color: @wm_icon_bg;
    background-color: @error_color;
  }
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#custom-zeit.tracking {
  background: #ff757f;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#cpu.warning {
  background: #ff757f;
}

#cpu.critical {
  color: #c53b53;
}

#custom-menu {
  padding-left: 8px;
  padding-right: 13px;
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.warning {
  color: #ff757f;
}

#memory.critical {
  color: #c53b53;
  animation-name: blink-critical;
  animation-duration: 2s;
}

#network.disconnected {
  color: #ff757f;
}

#pulseaudio.muted {
  color: #ff757f;
}

#temperature.critical {
  color: #c53b53;
}

#bluetooth.disabled {
  color: #ff757f;
}

#custom-wf-recorder {
  color: #c53b53;
  padding-right: 10px;
}
