* {
  border: none;
  border-radius: 0;
  font-family: FiraCode Nerd Font, Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 0.4);
  background: rgba(30, 32, 48, 0.5);
  /* background: rgba(0, 0, 0, 0.4); */
  color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

tooltip {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
tooltip label {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
}

widget label,
widget image {
  padding: 0 8px;
  background: rgba(255, 255, 255, 0.1);
}

#window,
#custom-media {
  background: rgba(0, 0, 0, 0);
  padding-right: 20px;
}

.modules-right,
.modules-center {
  color: white;
  /* padding: 0 8px; */
}

#workspaces {
  color: white;
  background: rgba(255, 255, 255, 0.2);
  margin-right: 8px;
}

#workspaces button {
  padding: 0;
}
#workspaces button label {
  padding: 0 6px 0 8px;
  color: white;
  font-size: 14px;
}

#workspaces button.focused {
  background: rgba(255, 255, 255, 0.3);
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  background: #f87171;
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* @import "/usr/share/sway/templates/waybar/style.css"; */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
  70% {
    color: @wm_icon_bg;
  }

  to {
    color: @wm_icon_bg;
    background-color: @warning_color;
  }
}

@keyframes blink-critical {
  70% {
    color: @wm_icon_bg;
  }

  to {
    color: @wm_icon_bg;
    background-color: @error_color;
  }
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#custom-zeit.tracking {
  background-color: @warning_color;
}

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
  color: @warning_color;
}

#battery.critical {
  color: @error_color;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#cpu.warning {
  color: @warning_color;
}

#cpu.critical {
  color: @error_color;
}

#custom-menu {
  padding-left: 8px;
  padding-right: 13px;
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.warning {
  color: @warning_color;
}

#memory.critical {
  color: @error_color;
  animation-name: blink-critical;
  animation-duration: 2s;
}

#network.disconnected {
  color: @warning_color;
}

#pulseaudio.muted {
  color: @warning_color;
}

#temperature.critical {
  color: @error_color;
}

#workspaces button {
  border-top: 2px solid transparent;
  /* To compensate for the top border and still have vertical centering */
  padding-bottom: 2px;
}

#workspaces button.focused {
  border-color: #f801e8;
  color: @theme_selected_bg_color;
}

#workspaces button.urgent {
  border-color: @error_color;
  color: @error_color;
}

#custom-pacman {
  color: @warning_color;
}

#bluetooth.disabled {
  color: @warning_color;
}

#custom-wf-recorder {
  color: @error_color;
  padding-right: 10px;
}
