# clear out your system logfiles - speed up zsh
alias clean="sudo rm /private/var/log/asl/*.asl"

alias sshexport='ssh-copy-id -i ~/.ssh/id_rsa.pub '
alias filesystem='sudo fs_usage -f pathname -w'

alias copy=pbcopy
alias paste=pbpaste

# https://github.com/sharkdp/bat
alias cat='bat -P'
# https://github.com/dalance/procs
# alias ps='procs'
# https://github.com/denilsonsa/prettyping
# alias ping='prettyping --nolegend'

alias vo='fd --type f --hidden --exclude .git | fzf-tmux -p --reverse | xargs nvim'
# alias cbr=git branch --sort=-committerdate | fzf --header "Checkout Recent Branch" --preview "git diff {1} --color=always" --pointer="" | xargs git checkout
# alias cbr=git branch --sort=-committerdate | fzf --header "Checkout Recent Branch" --preview "git diff {1} --color=always" | xargs git checkout

alias rm='gio trash'

alias tmuxrc="vim ~/.tmux.conf"
alias tmuxrcs="tmux source-file ~/.tmux.conf"
alias mux=tmux

# https://github.com/ogham/exa
exa_options='--links --group --changed --time-style long-iso --icons'
# replace ls with exa
# alias ls='exa $(printf $exa_options)'
# alias ll="exa --long --header"
alias ls="exa --icons --sort type -a"
alias ll="exa --icons --long --sort type -a"

alias tree="exa --long --tree --level=4 -a $(printf $exa_options)"

# https://github.com/nivekuil/rip
alias rm=rip

# https://github.com/tarka/xcp
alias cp=xcp

# https://github.com/ajeetdsouza/zoxide
alias cd=z

# https://github.com/ranger/ranger
alias cdc=ranger

alias zshrc="vim ~/.zshrc"
alias zshrcs="source ~/.zshrc"
alias vimrc="vim ~/.config/nvim/init.vim"
alias vimrcs="source ~/.config/nvim/init.vim"
alias batvimrc="bat ~/.config/nvim/init.vim"

# alias node='docker run --rm -it -v `pwd`:/app -w /app node:16-alpine '
# alias node14='docker run --rm -it -v `pwd`:/app -w /app node:14-alpine '
# alias node12='docker run --rm -it -v `pwd`:/app -w /app node:12-alpine '
# alias node10='docker run --rm -it -v `pwd`:/app -w /app node:10-alpine '

# alias somafm='mplayer -really-quiet -vo none -volume 80 -playlist http://somafm.com/groovesalad.pls'
# alias goa='mplayer -really-quiet -vo none -volume 80 -playlist http://somafm.com/suburbsofgoa.pls'
# alias beatblender='mplayer -really-quiet -vo none -volume 80 -playlist https://somafm.com/beatblender.pls'
# alias dronezone='mplayer -really-quiet -vo none -volume 80 -playlist http://somafm.com/dronezone.pls'
# alias defcon='mplayer -really-quiet -vo none -volume 80 -playlist http://somafm.com/defcon.pls'
# alias sleepbot='mplayer -really-quiet -vo none -volume 80 -playlist http://sleepbot.com/ambience/cgi/listen.m3u'

# pandoc -t revealjs -s slides.md -o slides.html --standalone
alias pandoc='docker run --rm --volume "`pwd`:/data" --user `id -u`:`id -g` pandoc/latex '
 
# alias npm='docker run --rm -it -v `pwd`:/app -w /app node:16-alpine npm '
# alias deno='docker run --rm -it -v `pwd`:/app -w /app denoland/deno '
# alias aws='docker run --rm -it -v ~/.aws:/root/.aws amazon/aws-cli '
# alias ffmpeg='docker run --rm -it -v `pwd`:/app jrottenberg/ffmpeg '

# https://github.com/ranger/ranger
# https://github.com/BurntSushi/ripgrep

# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

alias mv="mv -iv"
alias cp="cp -riv"
alias mkdir="mkdir -vp"

alias vim=nvim
alias vi=nvim
alias v=nvim

alias g="git"
alias o="open -a"
alias oo="open ."

alias open="xdg-open"
alias ports="sudo lsof -i -P -n | grep LISTEN"

# IP addresses
# alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
# alias localip="ipconfig getifaddr en0"
# alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# OS X has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"
# # OS X has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# Faster npm for Europeans
command -v npm > /dev/null && alias npme="npm --registry http://registry.npmjs.eu/"
